@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* *****Start Global CSS***** */

*,
body,
html {
  margin: 0px;
  padding: 0px;
}
.primary {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: auto;
  height: auto;
  background: #29c5ff;
  border-radius: 8px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #103758;
  text-decoration: none;
}
.title {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
}

.title img {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.title h2 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-transform: uppercase;
  /* XYZies/BlueDark */
  color: #103758;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  text-align: left;
  width: 100%;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 64px;
  flex: none;
  order: 1;
  flex-grow: 0;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}

.pricings {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 32px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.pricing-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0px 0px;
  background: #eaeaea;
  box-shadow: 0px 0px 36px #4963da;
  border-radius: 32px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.row:nth-child(2) {
  padding: 0px;
}

.row h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
  background: #0351d9;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
  width: 100%;
  color: white;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.row h3.second {
  background: #fb4d66;
}

.row h3.third {
  background: #3dbd6a;
}

.bookademo-page .section-3 p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #103758;
}

.bookademo-page .section-3 {
  background: #E1FFFF;
  background-image: url(/images/bg-shedule.png);
  background-repeat: no-repeat;
}
::placeholder,
select,
options {
  color: #a2999a;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
input, select {
  background: #ffffff;
  border: 1px solid #b2aaaa;
  border-radius: 5px;
  padding: 8px 16px;
width: 216px;
}

input[type="submit"] {
  background: #0077B5;
border-radius: 50px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;
color: #FFFFFF;
font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
}

.forms {
  gap: 16px;
  flex-direction: row;
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  background-color: #ffffff;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #0093d4;
}

.row:nth-child(odd) {
  background: #eaeaea;
}

.pricing-page .section-3 {
  background: linear-gradient(
    160deg,
    #1297e0 5.7%,
    #1297e0 49.18%,
    #29c5ff 49.2%,
    #29c5ff 88.66%
  );
  box-shadow: 0px 0px 62px #29c5ff;
}

.pricing-page .section-3 {
}
.pricing-page .top-banner .image {
  order: 1;
}

.pricing-page .top-banner .text {
  order: 0;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 64px;
  flex: none;
  order: 1;
  flex-grow: 0;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}

.card {
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 304px;
  height: auto;
  background-color: #29c5ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 16px;
}

.card img {
  background-color: #ffffff;
  width: 100%;
}
.card p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #103758;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  padding: 0px 16px 16px 16px;
}

/* *****End Global CSS***** */

/* *****Start Header CSS***** */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 48px;
  height: auto;
  left: 0px;
  top: 0px;
  background: #ffffffe0;
  box-shadow: 1px 4px 4px rgba(51, 51, 51, 0.04),
    1px 1px 8px rgba(51, 51, 51, 0.16);
  margin: 0px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
}

i {
  font-family: "Font Awesome 5 pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 32px;
  width: auto;
  height: auto;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
header .logo {
  flex: none;
  order: 0;
  flex-grow: 0;
}

header .grid_icon {
  flex: none;
  order: 2;
  flex-grow: 0;
}

header nav ul {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 32px;
  width: auto;
  height: auto;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

header nav ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: auto;
  height: auto;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  /* XYZies/BlueBase */
  color: #0077b5;
  text-transform: uppercase;
}

header nav ul li a {
  text-decoration: none;
  color: #0077b5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

header nav ul li a i {
  font-family: "Font Awesome 5 pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin-right: 8px;
}

@media (min-width: 576px) and (max-width: 856px) {
  .content {
    text-align: center;
    flex-direction: column;
  }

  header nav {
    flex-direction: column;
  }

  header nav li {
    margin: 0.8em 0;
  }
}

@media (min-width: 360px) and (max-width: 576px) {
  .content {
    text-align: center;
    flex-direction: column;
    width: 100%;
  }

  header nav {
    flex-direction: column;
  }

  header nav ul {
    gap: 16px;
    margin: 24px 0px;
  }

  header nav ul li {
    margin: 0px;
    flex-direction: column;
  }
  header .grid_icon {
    order: 0;
  }
  header .logo {
    order: 1;
  }
  header {
    padding: 0px;
  }
}

/* *****End Header CSS***** */

/* *****Start top-banner CSS***** */

.top-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 106px 56px 106px;
  gap: 56px;
  isolation: isolate;
  height: auto;
  background: radial-gradient(#ffffff, #c5c5c5);
  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.top-banner .image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 1;
  z-index: 2;
}

.top-banner .text {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 32px;
  flex: none;
  order: 3;
  flex-grow: 1;
  z-index: 3;
  font-family: "Gugi";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  /* identical to box height */
  color: #103758;
}

.top-banner h1 {
  font-family: "Gugi";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: #103758;
  text-transform: uppercase;
}

.clients .image {
  order: 1;
}

.clients .text {
  order: 0;
}

@media (max-width: 856px) {
  .top-banner {
    padding: 194px 56px 32px;
  }
  .top-banner .text img {
    display: none;
  }

  .top-banner .text img {
    width: 330px;
  }
}

/* *****End top-banner CSS***** */

/* *****Start video-section CSS***** */

.video-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 32px;
  gap: 64px;
  background: #ffffff;
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.25);
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.video-section .content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.video-section .video-container {
  background: url(image.png);
  filter: drop-shadow(0px 0px 32px rgba(0, 0, 0, 0.25));
  border-radius: 32px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

@media (max-width: 856px) {
  .video-section {
    padding: 32px;
  }
}

.section-2 {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
  gap: 32px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.section-2 .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 586px;
  height: 388px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.section-2 .title {
  justify-content: start;
}

.section-2 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  /* XYZies/BlueLight */
  color: #0093d4;
  display: flex;
  align-items: center;
  color: #023e8a;
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  text-align: left;
}

.expand {
  background: linear-gradient(
    160deg,
    #29c5ff 5.7%,
    #29c5ff 49.18%,
    #ffffff 49.2%,
    #ffffff 88.66%
  );
  box-shadow: 0px 0px 62px #29c5ff;
}

.section-2.clients {
  background: linear-gradient(
    160deg,
    #1297e0 5.7%,
    #1297e0 49.18%,
    #29c5ff 49.2%,
    #29c5ff 88.66%
  );
  box-shadow: 0px 0px 62px #29c5ff;
}

.section-3.clients {
  background: linear-gradient(
    160deg,
    #29c5ff 5.7%,
    #29c5ff 49.18%,
    #ffffff 49.2%,
    #ffffff 88.66%
  ) !important;
  box-shadow: 0px 0px 62px #29c5ff;
}

@media (max-width: 856px) {
  .section-2 .image img {
    width: 330px;
  }
  .section-2 {
    padding: 32px;
  }
}

.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 32px;
  gap: 32px;
  background: #ffffff;
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}

.section-3 .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.section-3 h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #103758;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.section-3 h2 span {
  color: #0093d4;
  margin-left: 10px;
}

@media (max-width: 856px) {
  .cards {
    display: flex;
    flex-direction: column;
  }
  .title h2 {
    justify-content: stretch;
  }
  .content {
    width: 100%;
  }

  .copyright .content {
    gap: 32px;
  }
  .testimonials {
    flex-direction: column !important;
  }
  footer .contact {
    flex-direction: column !important;
    width: 100% !important;
  }

  .section-2 .text {
    width: auto !important;
  }
  .testimonial {
    flex-direction: column !important;
  }
  .testimonial .text p {
    width: 100% !important;
  }
}
.worried {
  background: linear-gradient(
    160deg,
    #ffffff 7.26%,
    #ffffff 48.03%,
    #29c5ff 48.06%,
    #29c5ff 91.63%
  );
}
.testimonials {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 32px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.testimonial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-bottom: 5px solid #ffffff;
  box-shadow: 0px 0px 24px rgba(236, 181, 81, 0.14);
  border-radius: 32px 32px 0px 0px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.testimonial .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 16px;
  background: #29c5ff;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

.testimonial .text h3 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #ffffff;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.testimonial .text p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #051f40;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  width: 180px;
}

.testimonial img {
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0px;
  gap: 64px;
  background: linear-gradient(0deg, rgba(5, 31, 64, 0.2), rgba(5, 31, 64, 0.2)),
    url(/images/Contact.jpg);
  flex: none;
  order: 6;
  align-self: stretch;
  flex-grow: 0;
}

footer .content {
  flex-direction: column;
  gap: 64px;
}

footer h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

footer h4 span {
  margin-left: 10px;
  color: #29c5ff;
  text-decoration-line: underline;
}

footer .contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 32px;
  flex: 0 0 auto;
  order: 1;
  align-self: center;
  color: #ffffff;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  width: 800px;
}

footer h5 {
  color: #29c5ff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 32px 0px;
  gap: 64px;
  background: #103758;
  flex: none;
  order: 7;
  align-self: stretch;
  flex-grow: 0;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.copyright p {
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.social p {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.social .logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 32px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.social .logos i {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #29c5ff;
}
